<div class="productDetailContainer">
    <div class="productDetailCard">

        <h2>{{product.title}}</h2>
        <p>{{product.description}}</p>
        <p>Stock actual: {{product.stock}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>AR$ {{product.price}}</p>
        <button class="productAddToCartButton">Añadir al carrito</button>
    </div>
</div>